.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  gap: var(--spacing-l);

  .cards-card {
    --spacing-default: var(--spacing-l);

    overflow-wrap: break-word;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
    background-color: light-dark(var(--color-gray-100), var(--color-gray-900));
    color: light-dark(var(--color-dark), var(--color-light));
    transition: all 0.25s ease-in-out;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  &:not(.quiet) {
    .cards-card-image {
      position: relative;
      padding-bottom: 60%;

      picture {
        position: absolute;
        inset: 0;
        opacity: 0.85;
        transition: opacity 0.25s ease-in-out;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .cards-card:hover {
      transform: scale(1.005);
      box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);

      picture {
        opacity: 1;
      }
    }
  }

  .cards-card-body {
    padding: var(--spacing-default);

    :first-child {
      margin-top: 0;
      font-size: 16px;
    }

    :last-child {
      margin-bottom: 0;
    }

    &:has(+ .cards-card-cta) {
      padding: var(--spacing-default) var(--spacing-default) var(--spacing-m) var(--spacing-default);
    }
  }

  .cards-card-cta {
    padding: 0 var(--spacing-default) var(--spacing-default) var(--spacing-default);
    margin: 0;
    display: flex;
    justify-content: end;
  }

  /* Variations */
  &.center {
    text-align: center;
  }

  &.quiet .cards-card {
    --spacing-default: 0;

    box-shadow: initial;
    background-color: initial;

    .cards-card-body * {
      margin: 6px;
    }
  }
}
