<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<main>
<div>
<p><a href="/us/en/index.html"><img src="/img/icons/logo.svg" alt="Stryker">Stryker</a></p>
<p><a href="/tools/widgets/toggle"><span class="icon icon-more"></span>Menu</a></p>
</div>
<div>
<ul>
<li><p><a href="/us/en/about.html">About</a></p></li>
<li><p><a href="/us/en/portfolios/medical-surgical-equipment.html">Medical and Surgical Equipment</a></p></li>
<li><p><a href="/us/en/portfolios/orthopaedics.html">Orthopaedics</a></p></li>
<li><p><a href="/us/en/portfolios/neurotechnology-spine.html">Neurotechnology</a></p></li>
<li><p><a href="/us/en/services-and-solutions.html">Services and solutions</a></p></li>
<li><p><a href="/us/en/care-settings.html">Care settings</a></p></li>
<li><p><a href="/us/en/training-and-education.html">Training and Education</a></p></li>
</ul>
</div>
<div>
<p><a href="http://careers.stryker.com/">Careers</a></p>
<p><a href="https://investors.stryker.com/">Investor Relations</a></p>
<p><a href="https://patients.stryker.com/">Patients</a></p>
<p><a href="/us/en/about/contact.html">Contact</a></p>
</div>
</main>
</body>
</html>
